.main-background-color{
    background-color: #8718d2;
}
.second-background-color{
    /* Hover */
    background-color: #cea2ec; 
}
.main-text{
    color: #666666;
}
.title-color{
    color: #8718d2;
}
.text-black{
    color: #000;
}
.text-white{
    color:white;
}


