.main-background-color{
    background-color: #4e92e6;
}
.second-background-color{
    /* Hover */
    background-color: #7dddd9; 
}
.main-text{
    color: #666666;
}
.title-color{
    color: #4e92e6;
}
.text-black{
    color: #000;
}
.text-white{
    color:white;
}
.background-white{
    background-color: #ffffff;

}


