/* Start menu navbar section */
.main-header{
    position: relative;
}
.main-div-header{

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 60px 20px 60px 20px;
}
.image-div img{
    display: inline-block;
    max-width: 100%;
    width: 140px;
    vertical-align: middle;
    height: auto;
}

.nav-btn{
    display: none;
}
.nav-menu{
    margin-left: auto;
    z-index: 100;
    padding: 0;
    clear: both;
    display: block;
}

.nav-div{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    position: relative;
}
.main-menu{
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding: 0;
    border: 0;
    gap: 30px;
}
.menu-item a{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-left: 22px;
    padding-right: 22px;
    line-height: 50px;
}

.btn-style{
    line-height: 35px;
    padding: 14px 22px;
    margin-top: 4px;
    transition: all 0.4s ease 0s;
    border-radius: 40px;
}
.menu-item-btn{
    border-radius: 40px;

}
.moblie-menu{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 60px 20px 60px 20px;
    width: 100% !important;
    display: none;
}
.fa-bars{
    font-size: 30px;
}
.mobile-nav-menu{
    transform: none !important;
    transition: opacity .2s, visibility .2s;
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    z-index: 100001;
    opacity: 1;
    position: fixed;
    height: 100vh;
    top: 0;
    z-index: 9999;
    overflow: auto;
    display: none;
    background-color: #f7f8f9;
}
.mobile-main-menu{
    padding: 10% 10% 0;
    max-width: 700px;

}
.close-nav{
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    font-size: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: 0;
    background: 0 0;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: 0;
}
.main-title{
    font-size: 20px;
}

/* End menu navbar section */


/* Start Intro Section */

.intro-section{
    width: 100%;
    padding: 50px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.intro-div{
    box-sizing: border-box;
    padding: 40px;
    width: 45%;
    text-align: center;
}
.intro-div h1{
    font-size: 56px;
    line-height: 1em;
}
.intro-div p{
    font-size: 20px;
    line-height: 1em;
}
.intro-div a{
    font-size: 20px;
    line-height: 1em;
}

.intro-image{
    box-sizing: border-box;
    padding-left: 40px;
    padding-bottom: 0px;
    width: 55%;
}
.image-intro-div{
    height: 100%;
    padding: 40px;

}

.image-intro-div img{
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
}
 
/* End Intro Section */

/* Start Our Section */
.our-main,.our-two-sub{
    padding: 40px;
}
.our-main{
width: 33%;
}
.our-two-sub{
    width: 63%;
}
.our-sub-one{
    box-sizing: border-box;
    width: 50%;
    padding: 0 70px;
}
.our-one p{
    font-size: 20px;
}
.our-main h1{
    font-size: 40px;
    line-height: 1.1em;
    padding-top: 10px;
    padding-left: 20px;
    border-left: 4px solid #8718d2;
    color: #869199;
}
.our-main h1 span{
    font-size: 45px;
}
/* End Our Section */


/* Start Expertise Section */
.expert-section{
    width: 100%;
    padding: 50px;
    gap: 15px;
}
.expert{
    width: 360px;
    max-width: 380px;
    border-radius: 5px;
    padding: 10px;
    gap: 15px;
    height: 320px;
}
.expert-icon{
    font-size: 50px;
}
.expert-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
/* End Expertise Section */


/* Start Methodology Section */
.methodologys-section{
    width: 100%;
    padding: 50px;
    gap: 15px;

}
.methodology{
    width: 279px;
    max-width: 320px;
    border-radius: 5px;
    padding: 10px;
    gap: 15px;
    height: 320px;

}
.methodology-image-p{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
}
.methodology-image {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
  }

  .methodology-p {
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
/* End Methodology Section */


/* Start Footer */

.site-footer {
    margin-top: 100px;
      position: relative;
      width: 100%;	
      bottom: 0; 
  }
  
  .site-footer .container {
      max-width: 85%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      padding-top: 20px;
  }
  
  .site-footer .container h1 {
      font-size: 40px;
  }
  
  .site-footer .container h2 {
      font-size: 40px;
      float: right;
  }
  
  .site-footer .footer-container a {
      color: #666666;
      text-decoration: none;
      font-size: 15px;
      line-height: 16.25px;
  }
  
  .site-footer .footer-item {
      padding: 10px;
      color: #666666;
  }
  
  
  .site-footer .footer-container .inner-footer-container {
      display: flex;
      text-align: left;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: center;
      align-items: center;
  }
  
  .site-footer .container hr { 
      display: block; 
      height: 1px;
      border: 0; border-top: 1px solid #666666;
      margin: 1px; 
      padding: 0; 
  }
  
  .site-footer .container p {
      font-size: 14px;
      text-align: right;
      color: #666666;
      font-weight: 500;
  }
  
  .site-footer .container .logo-img {
      width: 180px;
      height: 140px;
      cursor: pointer;
  }
  
  .site-footer .footer-container .footer-link-item .social-buttons {
      padding-top: 20px;
  }
  
  .site-footer .footer-container .footer-link-item .social-buttons a {
      display: inline-flex;
      text-decoration: none;
      font-size: 30px;
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0 8px;
  }
  
  
  .site-footer .footer-container .footer-item .social-buttons a i{
      transition: 0.3s ease-in;
  }
  
  .site-footer .footer-container .footer-item .social-buttons a:hover i {
      background: linear-gradient(45deg,#666666,#666666);
      transform: scale(1.5);
  }
  
  .circle-icon {
      background: #666666;
      padding:12px;
      border-radius: 50%;
  }
  
  .footer-link-item{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
  }
  
  /* Enda Footer */

  
  @media only screen and (max-width: 600px) {
  
      .site-footer {
          height: 620px;
          bottom: 0; 
      }
  
      .site-footer .footer-container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: center;
          justify-content: center;
          align-items: center;
      }
      
      .site-footer .footer-container .inner-footer-container {
          display: flex;
          text-align: left;
          flex-direction: column;
          flex-wrap: wrap;
          align-content: space-around;
          justify-content: center;
          align-items: center;
      }
  
  
  }
  
  
  @media only screen and (min-width: 992px) {
  
      .site-footer {
          height: 260px;
          bottom: 0;
      }
  
      .site-footer .footer-container {
          display: grid;
          grid-template-columns: 350px auto 350px;
      }
  
      .site-footer .footer-container .inner-footer-container{
          display: flex;
          text-align: left;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: space-around;
          justify-content: center;
          align-items: center;
      }
  
  }
  
  

@media screen and (max-width: 915px) {
    .moblie-menu{
        display: flex;
    }
    .main-header ,.close-nav{
        display: none;
    }
    .intro-section{
        flex-direction: column;
    }
    .intro-div,.intro-image{
        width: 100%;
    }
    .intro-image{
        padding-left: 0;
        align-content: center;
        flex-wrap: wrap;
    }
    .intro-div{
        gap: 20px;
        padding: 25px;
    }


    .our-section{
        flex-direction: column;
        text-align: center;
    }
    .our-main,.our-two-sub{
        width: 100%;
    }
    .our-two-sub{
        flex-direction: column;
    }
    .our-sub-one{
        width: 100%;
    }
    .expert{
        height: 100%;
    }
}
